# ignore code editors files and folders
/.idea
.idea/*
/.vscode
.vscode/*
.DS_Store
.AppleDouble
.LSOverride

# ignore node/grunt dependency directories
node_modules/

# Ignore build directories.
/build
/dist

# ignore log files and databases
*.log
*.sql
*.sqlite

# ignore compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# ignore packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# ignore private/secret files
*.der
*.key
*.pem

# ignore project specific files
