.NavBar-logo {
  height: 90%;
  object-fit: cover;
}

.logo {
  height: 100%;
}

.NavBar-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.NavBar-menu-item {
  font-size: 15px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.NavBar-menu-item:hover {
  color: #000;
  text-decoration: underline;
}
