.card {
  padding: 20px;
  width: 100%;
  max-width: 410px;

  background: #d9d9d9;

  font-family: 'Inter';
}

:where(.css-dev-only-do-not-override-1ij74fp).ant-card .ant-card-body {
  padding: 18px 0 0 0;
}

:where(.css-dev-only-do-not-override-1ij74fp).ant-card .ant-card-meta-title {
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
}

:where(.css-dev-only-do-not-override-1ij74fp).ant-card .ant-card-meta-description {
  color: black;
  font-style: normal;
  font-weight: 400;
}

.container-img {
  width: 368px !important;
  height: 256px;

  display: flex !important;
  align-items: center;
  justify-content: center;
}

.container-img .filmPicture {
  border-radius: 10px;
}
