.top-content {
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  height: 200px;
  border-radius: 10px;
  align-items: baseline;
}

.top-left-content {
  display: flex;
  width: 50%;
  height: 100%;
}

.top-right-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select {
  width: 100%;
  height: 100%;
}

.text-area-style {
  height: 100%;
}
.bottom-content {
  margin-top: 4%;
}
