.project-gallery .header {
  flex-direction: row;
  padding: 50px;
  height: 7vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-gallery .gallery-list {
  padding: 0;
  width: 100%;

  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: start;
  grid-template-columns: repeat(3, fit-content(100%));
  grid-gap: 11.5vh 7.2vw;
}

@media (width < 1150px) {
  .project-gallery .gallery-list {
    grid-template-columns: repeat(2, fit-content(100%));
  }
}
