.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 20vh;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.NavBar-logo {
  height: 90%;
  object-fit: cover;
}

.logo {
  height: 100%;
}

.NavBar-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.NavBar-menu-item {
  font-size: 14px;
  font-weight: 500;
  color: white !important;
  text-decoration: none;
}

.NavBar-menu-item:hover {
  color: white !important;
  text-decoration: underline;
}
