.home-page-container {
    height: 80vh;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
}

.image-logo {
    margin: 10vw 0 0 0
}

.buttons-container {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons-little-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 5vw 0px
}

.button-account {
    background-color: red;
    color: white;
    border-color: red;

}